NEXT_PUBLIC_APP_URL=https://adris-beryl.vercel.app
NEXT_PUBLIC_API_URL=https://adris.onrender.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
NEXT_PUBLIC_CLERK_JWT_TEMPLATE=adris-api
CLERK_SECRET_KEY=